*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}
/*
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row .center{
  align-items: center;
}
.col-l{
  flex-basis: 100%;
}
.col-2{
  flex-basis: 100%;
}

@media screen and (min-width:800px) {
  .col-l{
    flex: 1;
  }
  .col-2{
    flex: 2;
  }
  
}
*/

button.badge{
  padding: 0.3rem;
  border:0.rem #333 solid;
  background-color:#333;
  width: 1.5rem;
  color: white;
  cursor: pointer;
}
button.add{
  padding: 0.3rem;
  border:0.rem #333 solid;
  background-color:#f0c040;
  width: 1.5rem;
  color: white;
  cursor: pointer;
}
button.remove{
  padding: 0.3rem;
  border:0.rem #333 solid;
  background-color:#f7560b;
  width: 1.5rem;
  color: white;
  cursor: pointer;
}

